<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
		
		
	<springProperty scope="context" name="LOG_FILE"	source="app.log.filename" />



	<appender name="ROLLING-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern> %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		 <!-- <file>${catalina.base}/logs/${LOG_FILE}.log</file>  -->
		<file>${LOG_FILE}.log</file> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="app" level="debug" additivity="false">
		<appender-ref ref="ROLLING-FILE" />
	</logger>

	<logger name="app" level="info" additivity="false">
		<appender-ref ref="ROLLING-FILE" />
	</logger>

	<logger name="app" level="warn" additivity="false">
		<appender-ref ref="ROLLING-FILE" />
	</logger>

	<logger name="app" level="error" additivity="false">
		<appender-ref ref="ROLLING-FILE" />
	</logger>

	<logger name="app" level="fatal" additivity="false">
		<appender-ref ref="ROLLING-FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="ROLLING-FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
